<h1><%= @routine.title %></h1>
<ul class="media-list">
  <% @assignments.where(routine_id: @routine.id).each do |assignment| %>
    <li class="media">
      <h4 class="media-left">
      <span class='glyphicon glyphicon-refresh'></span>
      </h4>
      <div class="media-body">
        <h4 class="media-heading"><span class='glyphicon glyphicon-hand-right'></span> アサイン: <%= assignment.user.name %></h4>
        Date: <%= assignment.day_until %>
      </div>
      <% link_to 'アサインする', new_assignment_path,class:'btn btn-success btn-md' %>
    </li>
  <% end %>  
</ul>