<% if user_signed_in? %>
  <body class = 'toppage'>
    <h1 class = 'white'>トップページ</h1>

    <div class='toppage_btns'>
      <div class ='event_btn'>
        <p><a href="/events" role="button">イベント・不用品処理</a></p>
      </div>
      <div class ='event_btn upper_btn red_btn'>
        <p><a href="/routines" role="button">共同生活タスク</a></p>
      </div>
      <div class ='event_btn orange_btn'>
        <p><a href="/users" role="button">チャット・質問Box</a></p>
      </div>
      <div class ='event_btn upper_btn sky_btn'>
        <p><a href="/issues" role="button">掲示板(ご意見・情報)</a></p>
      </div>
      <div class ='event_btn green_btn'>
        <p><a href="/users/<%= current_user.id %>/payments" role="button">家賃の管理</a></p>
      </div>
    </div>
  </body>  
<% else %>
  <body>
      <div class='flex hot-topic'>
        <div class='top_content'>
          <img class='top_icon' src='assets/fish1.png'>
          <h3>ようこそ　</br> Share House MGR!</h3>
          </br>
          <p class ='top_desc'>・より住みやすいシェアハウスへ<p>
          <p class ='top_desc'>・住居者の満足度をアップ<p>
          <p class ='top_desc'>・管理者に便利な機能満載<p>
        </div>
        <img class='top_image' src="assets/taco.jpg">
      </div>  
    
      
    <section class='works'>
    </section>
    <section class='contact'>
    </section>
    <footer class='footer'>
    </footer>
  </body>  
<% end %>