<body class = 'money'>
  <div class = 'center_field center'>
    <h1>ありがとう御座います</h1>
    <h1>決済が完了しました</h1>

    <%= link_to 'ご入金報告画面へ進む', new_payment_path, class:'btn btn-success btn-block margin_top' %>
  </div>  
</body> 