/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

/* app/assets/stylesheets/application.css */

/*
 *= require raty-js/lib/jquery.raty.css
 */

body {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
} 

.flex{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.toppage_btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.event_btn {
  position: relative;
  /* z-index: 1; */
  width: 200px;
  height: 200px;
  margin-top: 230px;
  background: #4169e1;
  border-radius: 50%;
  box-shadow: 0px 8px 0px #191970;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  user-select: none;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */
}

.event_btn:hover {
  filter:alpha(opacity=70);/* IE 6,7*/
  -ms-filter: "alpha(opacity=70)";/* IE 8,9 */
  -moz-opacity:0.7;/* FF , Netscape */
  -khtml-opacity: 0.7;/* Safari 1.x */
  opacity:0.7;
  zoom:1;/*IE*/
}

.event_btn:active {
  box-shadow: 0px 4px 0px #191970;
  margin-top: 234px;
}

.event_btn a {
  position: absolute;
  color: white;
  line-height: 200px;
  text-decoration: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* text-indent:-999px; */
  /* z-index: 2; */
}

.upper_btn {
  margin-top: 30px;
}

.upper_btn:active {
  margin-top: 34px;
}

.red_btn {
  background: #b94047;
  box-shadow: 0px 8px 0px #640125;
}

.orange_btn {
  background: #ec6800;
  box-shadow: 0px 8px 0px #640125;
}

.sky_btn {
  background: #00a1e9;
  box-shadow: 0px 8px 0px #0073a8;
}

.green_btn {
  background: #9cbb1c;
  box-shadow: 0px 8px 0px #5f6527;
}

h4.media-left {
  min-width: 100px;
  min-height: 115px;
  vertical-align: middle;
  text-align: center;
}

#event_index_date {
  margin-bottom: 0;
  float: left;
}

.block-button {
  padding-bottom: 15px;
}

.btn-lg-inline {
  display: inline;
}

.arrow_box{
  list-style: none;
  position:relative;
  width:800px;
  height:80px;
  background:#bbbcde;
  padding:10px;
  margin:15px;
  text-align:center;
  color: #0d0015;
  font-size:30px;
  font-weight:bold;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
}

.arrow_box:after{
  border: solid transparent;
  content:'';
  height:0;
  width:0;
  pointer-events:none;
  position:absolute;
  border-color: rgba(0, 153, 255, 0);
  border-top-width:10px;
  border-bottom-width:10px;
  border-left-width:10px;
  border-right-width:10px;
  margin-left: -10px;
  border-bottom-color:#bbbcde;
  bottom:100%;
  left:50%;
}

.arrow_box p {
  margin-top: 15px;
}

.margin {
  margin: 20px 0px 20px 0px;
}

.grid_header {
  display: grid;
  grid-template-columns: 250px 450px 100px;
}

.grid_media {
  display: grid;
  grid-template-columns: 80px 750px 150px 150px;
}

.grid_media2 {
  display: grid;
  grid-template-columns: 80px 350px 150px;
}

.grid_media3 {
  display: grid;
  grid-template-columns: 150px 150px;
}

.grid_media4 {
  display: grid;
  grid-template-columns: 100px 350px 150px;
}

.grid_media5 {
  display: grid;
  grid-template-columns: 80px 700px 100px 100px 100px;
}

.grid_media6 {
  display: grid;
  grid-template-columns: 580px 430px;
}

.margin_top {
  margin-top: 15px;
}

.margin_bottom {
  margin-bottom: 15px;
}

.margin_left {
  margin-left: 15px;
}

.parent_chat_box {
  padding: 8px;
}

.chat_box {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 4px;
  background: #fce2c4;
}

.font_orange {
  color: #d66a35;
  text-shadow: 1px 1px 2px pink;
}

.padding15 {
  padding: 15px;
}

.blue {
  color: blue;
}

.zero_margin {
  margin: 0;
}

.border {
  border: solid 1px gray;
  border-radius: 4px;
  padding: 8px;
}

.keep_right {
  max-width: 50%;
  margin: 0 auto;
  margin-top: 10px;
}

.category_list {
  padding: 0; 
  margin: 0; 
  display: flex; 
  flex-direction: row; 
  list-style: none;
}

.far_right {
  float: right;
}

.inline {
  display: inline;
}

.padding_top20 {
  padding-top: 20px;
}

.padding_top10 {
  padding-top: 10px;
}