<p>Hello <%= @resource.email %>さん!</p>

<p>以下をクリックしてパスワードの変更をすすめて下さい。</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>リクエストしていなければ、このメールは無視して下さいね(^o^)／</p>
