<% if model.errors.any? %>
 <div>
  <h4><%= model.errors.count %>ケのエラーがあります。</h4>
 </div> 
  <ul>
    <% model.errors.full_messages each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>  
<% end %>